<div class="card" [ngStyle]="{ borderColor: getFrameColor() }">
    <app-gladiator-avatar [avatarId]="candidate.avatarId" [name]="candidate.name" [origine]="candidate.origine "></app-gladiator-avatar>
    <div class="avatar-wrapper">
        <div *ngIf="candidate.traitId" class="trait-chip">{{ candidate.traitId }}</div>
    </div>
    <div class="skills">
        <div *ngFor="let skill of weaponSkills">
            {{ candidate.weaponSkills[skill] ?? 0 }}</div>
    </div>
    <div class="section-head">Statistiques</div>
    <div class="stats">
        <div *ngFor="let stat of baseStats" class="statistique">
            <app-icon [icon]="statIcons[stat]" /> {{ candidate.baseStats[stat] ?? 0 }}<span *ngIf="stat !== 'attack' && stat !== 'defense' && stat !== 'vitesse'">%</span>
        </div>
    </div>
    <button (click)="recruitClicked.emit()" [disabled]="!canRecruit">Recruter ({{ candidate.cost }})</button>
</div>
