@use './theme.config.scss' as theme;
@use './mixins.scss' as mixins;
@use 'sass:color';
$hud-element-background: #331c06;
$hud-element-border: #7a570c;
$hud-element-decoration: inset 0 0 8px 0 rgba(0, 0, 0, 0.089),
0 0 0 1px #110901e8,
0 0 0 2px #331c06,
0 0 2px 3px #502b09,
-1px -1px 0 3px #7a570c,
1px 1px 0 3px #502b09,
0 0 3px 5px #110901e8,
0 0 0px 5px #331c06;
$hud-element-text-color: #ffdd47;
$hud-element-text-shadow: drop-shadow(0 0px 1px black) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.336)) drop-shadow(0 0px 0px black);
$status-ally: #067004;
$status-enemy: #830a0a;
$status-friendly: #143b17;
$status-hostile: #532104;
$status-neutral: #383736;
@mixin hudInnerFrame($color, $border) {
    background: linear-gradient(to top, $color, color.adjust($color, $lightness: 10%));
    @include specialBorders($border);
    .text {
        @include mixins.hudInnerText();
    }
}

@mixin hudInnerButton($color: #502b09, $text: #ffdd47) {
    &:before {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        content: '';
        background: linear-gradient(to top, $color 35%, color.adjust($color, $lightness: 5%));
        z-index: 1;
        border-radius: 3px;
        box-shadow: inset 0px 2px 0 0 color.adjust($color, $lightness: 15%);
    }
    border-radius: 3px;
    @include hudInnerFrame($color, color.adjust($color, $lightness: 10%));
    .text {
        position: relative;
        z-index: 2;
        color: $text;
    }
}

@mixin specialBorders($border) {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.089), 0 0 0 1px #110901e8, 0 0 1px 1px color.adjust($border, $lightness: -25%), 0 0 2px 2px color.adjust($border, $lightness: -15%), -1px -1px 0 2px $border, 1px 1px 0 2px color.adjust($border, $lightness: -15%), 0 0 3px 3px #110901e8, 0 0 0px 3px color.adjust($border, $lightness: -25%);
}
