@use '../../../core/styles/hud-style.config.scss' as *;
@use '../../../core/styles/theme.config.scss' as *;
@use '../../../core/styles/mixins.scss' as *;
@use 'sass:color';
:host {
    position: relative;
    width: 190px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top-left-radius: 95px;
    border-top-right-radius: 95px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        border-top-left-radius: 95px;
        border-top-right-radius: 95px;
        background-position: center center;
        background-image: url('/assets/ui/frame/gladiator-panel.png');
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-top-left-radius: 95px;
        border-top-right-radius: 95px;
        @include hudInnerFrame(#4228102c,
        $mediocre);
    }
    &.mediocre {
        &::before {
            @include hudInnerFrame(rgba($mediocre, .2),
            $mediocre);
        }
        &::after {}
        button {
            @include hudInnerButton($mediocre,
            white);
        }
    }
    &.common {
        &::before {
            @include hudInnerFrame(rgba($common, .2),
            $common);
        }
        button {
            @include hudInnerButton($common,
            white);
        }
    }
    &.rare {
        &::before {
            @include hudInnerFrame(rgba($rare, .2),
            $rare);
        }
        &::after {
            filter: hue-rotate(170deg);
        }
        button {
            @include hudInnerButton($rare,
            white);
        }
    }
    &.epic {
        &::before {
            @include hudInnerFrame(rgba($epic, .2),
            $epic);
        }
        &::after {
            filter: hue-rotate(230deg);
        }
        button {
            @include hudInnerButton($epic,
            white);
        }
    }
    &.legendary {
        &::before {
            @include hudInnerFrame(rgba($legendary, .2),
            $legendary);
        }
        &::after {
            filter: hue-rotate(16deg);
        }
        button {
            @include hudInnerButton($legendary,
            white);
        }
    }
}

.damage {
    @include statLine();
}

app-gladiator-avatar {
    position: relative;
    z-index: 2;
    margin-bottom: -40px;
    margin-top: -13px;
}

app-gladiator-traits {
    padding: 4px 6px;
}

.info {
    background: rgba(black, .4);
    width: 100%;
    padding-top: 24px;
    position: relative;
    z-index: 1;
    height: 100%;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px 16px;
    margin-top: 8px;
    height: 40px;
    position: absolute;
    bottom: -52px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    .cost {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        app-icon {
            position: relative;
            top: -2px;
        }
        @include hudInnerText(white);
    }
}
