.recruitment-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .candidate-list {
        display: flex;
        gap: 40px;
        justify-content: space-around;
        align-items: stretch;
    }
}
